# Terraform / OpenTofu
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Packer
packer/ubuntu-2404/packer_cache/
packer/ubuntu-2404/*.pkrvars.hcl

# Ansible
ansible/group_vars/vault.yml
ansible/*.retry

# SSH keys
*.pem
id_*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
